table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 3px;

}

th {
    cursor: pointer;
}
/* Make table sortable */
table tr:not(:first-child) {
    cursor: pointer;
    transition: all .25s ease-in-out;
}

table tr:not(:first-child):hover {
    background-color: gray;
}

.selected {
    background-color: grey;
    font-weight: bold;
    color: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}